* {
    padding: 0;
    margin: 0;
    font-family: "Karla";
}

body {
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
}

.credit-container {
    margin: 23px 23px;
    padding: 14px;
}

.logo-side {
    width: 20%;
    background: linear-gradient(207.52deg, #1A2873 0%, #0554F2 101.95%);
}

.logo-container {
    height: 100%;
    display: flex;
}

.card-side {
    width: 80%;
    height: 100%;
}

.card-head {
    margin: 13px 13px;
}

.add-card {
    box-sizing: border-box;
    border-radius: 13px;
    border: 2px #E0E0E0;
}

.verify-charge {
    border: 2px #E0E0E0;
    border-radius: 13px;
    box-sizing: border-box;
}